<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zk.cabinet">

    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_MEDIA_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.MODIFY_SOUND_SETTINGS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 系统权限start -->
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.SERIAL_PORT"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.RECOVERY"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.INTERACT_ACROSS_USERS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.READ_FRAME_BUFFER"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.REBOOT"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.MODIFY_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.DEVICE_POWER"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.SHUTDOWN"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.WRITE_MEDIA_STORAGE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.INSTALL_PACKAGES"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.ACCESS_CACHE_FILESYSTEM"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.DELETE_CACHE_FILES"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.SET_TIME"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.STATUS_BAR"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.CONNECTIVITY_INTERNAL"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.REAL_GET_TASKS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.DUMP"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".app.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appName"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <service
            android:name=".service.NetService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".activity.PersonnelManagementActivity"
            android:label="@string/title_personnel_management"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.OutboundOperatingActivity"
            android:label="@string/outbound"
            android:theme="@style/NoActionBarAppTheme" />
        <activity
            android:name=".activity.CabinetConfigurationActivity"
            android:label="@string/title_cabinet"
            android:theme="@style/NoActionBarAppTheme" />
        <activity
            android:name=".activity.WarehousingOperatingActivity"
            android:label="@string/warehousing"
            android:theme="@style/NoActionBarAppTheme" />
        <activity
            android:name=".activity.OutboundActivity"
            android:label="@string/outbound"
            android:theme="@style/NoActionBarAppTheme" />
        <activity
            android:name=".activity.WarehousingActivity"
            android:label="@string/warehousing"
            android:theme="@style/NoActionBarAppTheme" />
        <activity
            android:name=".activity.DemoInterfaceActivity"
            android:label="@string/inventory_storage"
            android:theme="@style/NoActionBarAppTheme" />
        <activity
            android:name=".activity.SystemSettingsActivity"
            android:label="@string/title_activity_system_settings"
            android:theme="@style/NoActionBarAppTheme" />
        <activity
            android:name=".activity.MainMenuActivity"
            android:label="@string/title_activity_main_menu"
            android:theme="@style/NoActionBarAppTheme" />
        <activity
            android:name=".activity.QueryActivity"
            android:label="查档"
            android:theme="@style/NoActionBarAppTheme" />
        <activity
            android:name=".activity.WarningActivity"
            android:label="异常出库报警"
            android:launchMode="singleInstance"
            android:theme="@style/NoActionBarAppTheme" />

        <activity
            android:name=".activity.GuideActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 1204*1280(7.7英寸pad),以这个屏幕为标准做适配 -->
        <meta-data
            android:name="design_width_in_dp"
            android:value="1024" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="1280" />

    </application>

</manifest>